In [18]:
import mysql.connector
import pandas as pd

db = mysql.connector.connect(
    host= "localhost",
    user= "root",
    password= "02914917227",
    database= "import",
    port=3306
)

In [22]:
def sql(_query):
    
    return pd.read_sql_query(_query, db)

In [57]:
sql("""SELECT 
    'customer' AS tableName,
    customerNumber,
    COUNT(*) AS count
FROM customers
GROUP BY customerNumber
HAVING COUNT(*) > 1
UNION
SELECT 
    'products' AS tableName,
    productName,
    COUNT(*) AS count
FROM products
GROUP BY productName
HAVING COUNT(*) > 1""").to_html("1.html", index=False)

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [58]:
sql("""SELECT DISTINCT country, COUNT(*) FROM customers
GROUP BY country
ORDER BY COUNT(*) DESC""").to_html("2.html", index=False)

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [59]:
sql("""SELECT COUNT( DISTINCT productName) AS total_product FROM products""").to_html("3.html", index=False)  #3

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [60]:
sql("""SELECT DISTINCT(productLine), 
	   COUNT(productName) AS quantity_product
FROM products
GROUP BY productLine""").to_html("4.html", index=False) #4

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [61]:
sql("""SELECT YEAR(paymentDate) AS year, 
	   ROUND(SUM(amount),2) AS annual_amount, 
	   MAX(amount) AS monto_max, 
       MIN(amount) AS monto_min
FROM payments
GROUP BY year
ORDER BY annual_amount DESC""").to_html("5.html", index=False) #5

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [62]:
sql("""SELECT w.warehouseName, COUNT(p.productName) As product_per_warehouse,
	   ROUND(COUNT(p.productName) * 100.0 / total_products.total, 2) AS percentage_of_total
FROM warehouses w
JOIN products p ON w.warehouseCode = p.warehouseCode
JOIN (SELECT COUNT(*) AS total FROM products) AS total_products
GROUP BY warehouseName, total_products.total
ORDER BY percentage_of_total DESC""").to_html("6.html", index=False)  #6

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [63]:
sql("""WITH customer_order AS (
SELECT c.customerNumber, COUNT(o.orderNumber) AS cantidad_productos_comprados
FROM customers c
JOIN orders o ON c.customerNumber = o.customerNumber
GROUP BY c.customerNumber
)
SELECT customerNumber, cantidad_productos_comprados,
	DENSE_RANK() OVER(ORDER BY cantidad_productos_comprados DESC) AS customer_rank
FROM customer_order""").to_html("7.html", index=False)  #7

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [64]:
sql("""SELECT c.customerNumber AS id,
	   c.customerName AS customer_most_frecuency, 
	   COUNT(o.orderNumber) AS quantity_order
FROM customers AS c
JOIN orders AS o ON c.customerNumber = o.customerNumber
GROUP BY c.customerNumber, c.customerName
HAVING COUNT(o.orderNumber) > 5""").to_html("8.html", index=False)  #8

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [65]:
sql("""WITH sq1 AS(
	SELECT c.customerNumber AS id,
		   c.customerName AS nombre,
		   ROUND(SUM(p.amount),2) AS total
	FROM customers c
    JOIN payments p ON c.customerNumber = p.customerNumber
    GROUP BY c.customerNumber, c.customerName
)
SELECT id, nombre, total
FROM sq1
WHERE total > 250000""").to_html("9.html", index=False)  #9

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [66]:
sql("""SELECT p.productLine,
		c.customerNumber AS customer,
	    SUM(od.quantityOrdered) AS total
FROM products p 
JOIN orderdetails od ON p.productCode = od.productCode
JOIN orders o ON od.orderNumber = o.orderNumber 
JOIN customers c ON o.customerNumber = c.customerNumber
WHERE c.customerNumber IN ('124','141')
GROUP BY p.productLine, customer
ORDER BY productLine""").to_html("10.html", index=False)  #10

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [67]:
sql("""SELECT c.customerNumber, 
	   COUNT(o.orderNumber) AS quantity_orders
FROM customers c
JOIN orders o ON c.customerNumber = o.customerNumber
GROUP BY c.customerNumber
HAVING c.customerNumber IN ('124','141')
ORDER BY quantity_orders""").to_html("11.html", index=False)   #11

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [68]:
sql("""SELECT  c.customerNumber AS id,
        SUM(od.quantityOrdered) AS quantity_products
FROM customers AS c
JOIN orders o ON c.customerNumber = o.customerNumber
JOIN orderdetails od ON o.orderNumber = od.orderNumber
WHERE c.customerNumber IN ('124', '141')
GROUP BY c.customerNumber""").to_html("12.html", index=False)  #12

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [69]:
sql("""SELECT c.customerNumber, 
	   p.productName,
       SUM(od.quantityOrdered) AS cant_total_prod
FROM orderdetails od
JOIN orders o ON od.orderNumber = o.orderNumber
JOIN customers c ON o.customerNumber = c.customerNumber
JOIN products p ON od.productCode = p.productCode
GROUP BY c.customerNumber,p.productName
HAVING customerNumber IN ('124','141')
ORDER BY cant_total_prod DESC""").to_html("13.html", index=False)  #13

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [70]:
sql("""SELECT 
       p.paymentDate, 
       c.customerNumber AS id,
       p.amount,
	   ROUND(SUM(p.amount) OVER(PARTITION BY c.customerNumber ORDER BY p.paymentDate),2) AS cumulative_pay
FROM payments p
JOIN customers c ON p.customerNumber = c.customerNumber
GROUP BY id, p.paymentDate, p.amount
HAVING id IN ('124','141')
ORDER BY id""").to_html("14.html", index=False)  #14

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [71]:
sql("""SELECT p.productLine, 
	   COUNT(p.productLine) AS total_products
FROM products p
JOIN orderdetails od ON p.productCode = od.productCode
JOIN orders o ON od.orderNumber = o.orderNumber
JOIN customers c ON o.customerNumber = c.customerNumber
GROUP BY p.productLine								
HAVING COUNT(p.productLine) >  (SELECT COUNT(c.customerNumber) AS customer_planes
FROM customers AS c
								JOIN orders o ON c.customerNumber = o.customerNumber
								JOIN orderdetails od ON o.orderNumber = od.orderNumber 
								JOIN products p ON od.productCode = p.productCode
								WHERE p.productLine = 'Planes')""").to_html("15.html", index=False)  #15

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [72]:
sql("""WITH orders AS (
SELECT p.productName, SUM(od.quantityOrdered) AS total
FROM products p
JOIN orderdetails od ON p.productCode = od.productCode
GROUP BY productName
ORDER BY total DESC
)
SELECT productName, total,
	CASE
		WHEN total < 300 THEN 'low'
        WHEN total BETWEEN 300 AND 350 THEN 'medium'
        ELSE 'high'
	END AS categorize_prod
FROM orders""").to_html("16.html", index=False)  #16

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [73]:
sql("""SELECT p.productCode,
       p.MSRP,
       od.priceEach
FROM products p 
JOIN orderdetails od ON p.productCode = od.productCode
GROUP BY p.productCode, p.MSRP, od.priceEach""").to_html("17.html", index=False)  #17

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [74]:
sql("""SELECT * FROM 
			(SELECT od.orderNumber,
					c.customerNumber, 
					p.productName,
					(od.quantityOrdered * od.priceEach) AS total_sales,
					DENSE_RANK() OVER(ORDER BY quantityOrdered * priceEach DESC) AS DR_sales
			FROM products p JOIN orderdetails od ON p.productCode = od.productCode
            JOIN orders o ON od.orderNumber = o.orderNumber
            JOIN customers c ON o.customerNumber = c.customerNumber) AS sq1
HAVING DR_sales <= 10""").to_html("18.html", index=False)  #18

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [75]:
sql("""WITH ranked_sales AS (
    SELECT od.orderNumber,
           c.customerNumber, 
           p.productName,
           (od.quantityOrdered * od.priceEach) AS total_sales,
           DENSE_RANK() OVER (ORDER BY (od.quantityOrdered * od.priceEach) DESC) AS DR_sales
    FROM products p 
    JOIN orderdetails od ON p.productCode = od.productCode
    JOIN orders o ON od.orderNumber = o.orderNumber
    JOIN customers c ON o.customerNumber = c.customerNumber
)
SELECT *
FROM ranked_sales
WHERE DR_sales <= 10
ORDER BY total_sales DESC""").to_html("18_2.html", index=False)  #18.2

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [76]:
sql("""SELECT c.customerNumber, COUNT(DISTINCT p.productLine) AS productLine
 FROM customers c
 JOIN orders o ON c.customerNumber = o.customerNumber
 JOIN orderdetails od ON o.orderNumber = od.orderNumber
 JOIN products p ON od.productCode = p.productCode
 GROUP BY c.customerNumber
 HAVING productLine = (SELECT COUNT(DISTINCT productLine) FROM productLines)""").to_html("19.html", index=False)  #19

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [77]:
sql("""SELECT 
        p.productName,
        p.buyPrice,
        od.priceEach,
	   ROUND(priceEach - buyPrice,2) AS gross_margin,
       ROUND((priceEach - buyPrice) / buyPrice,2) * 100 AS profit_margin_percentage,
CASE
       WHEN (ROUND((priceEach - buyPrice) / buyPrice,2) * 100) >= 30 THEN 'YES'
       WHEN (ROUND((priceEach - buyPrice) / buyPrice,2) * 100) < 30 THEN 'NO'
END AS margin_classification       
FROM products p 
JOIN orderdetails od ON p.productCode = od.productCode""").to_html("20.html", index=False)  #20

C:\Users\34633\AppData\Local\Temp\ipykernel_4928\485670605.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

In [78]:
# Close the connection
db.close()